<<<<<<< HEAD
<% if(success && success.length) { %>
<div 
class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert"
>
 <%=success%> 
<button 
type="button"
 class="btn-close" 
 data-bs-dismiss="alert" 
 aria-label="Close"
 ></button>
</div>
<% } %>

<% if(error && error.length) { %>
<div 
class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert"
>
 <%=error%> 
<button 
type="button"
 class="btn-close" 
 data-bs-dismiss="alert" 
 aria-label="Close"
 ></button>
</div>
<% } %>
=======
<% if(success && success.length) { %>
<div 
class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert"
>
 <%=success%> 
<button 
type="button"
 class="btn-close" 
 data-bs-dismiss="alert" 
 aria-label="Close"
 ></button>
</div>
<% } %>

<% if(error && error.length) { %>
<div 
class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert"
>
 <%=error%> 
<button 
type="button"
 class="btn-close" 
 data-bs-dismiss="alert" 
 aria-label="Close"
 ></button>
</div>
<% } %>
>>>>>>> 73859dbc517a6651d4ba007b0089f8536e5da0d4
