<% layout("/listings/layouts/boilerplate")%>
<div class="row-8">
<div class="col-8 offset-2">
    <h3>Create New Listing</h3>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <label for="title" class="form-label">Title</label>
        <div class="mb-3">
            <input 
            name="listing[title]" 
            placeholder="Add a Catchy title"
            type="text"
            class="form-control"
            required
            />
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
            type="text"
             name="listing[description]" 
             class="form-control"
             required>
            </textarea>
            <div class="invalid-feedback">Enter valid Description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image </label>
            <input 
            type="file"
             name="listing[image]"
              class="form-control"
              required>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input 
            
            name="listing[price]"
             placeholder="1200"
             class="form-control" required>
             <div class="invalid-feedback">Enter valid price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input 
            type="text" 
            name="listing[location]"
             placeholder="Jaipur,Rajasthan"
             class="form-control" required>
             <div class="invalid-feedback">Enter valid location</div>
        </div>

        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input
             type="text"
              name="listing[country]" 
              placeholder="India"
              class="form-control" required>
              <div class="invalid-feedback">Enter valid Country name</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
    </form>
    <br><br>
</html>
</div>
</div>