<% layout("/listings/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="col-md-8 offset-md-2">

    <h3 class="mb-4">Create New Listing</h3>

    <form
      action="/listings"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >

      <!-- TITLE -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          name="listing[title]"
          type="text"
          class="form-control"
          placeholder="Add a catchy title"
          required
        />
        <div class="invalid-feedback">Please enter a title.</div>
      </div>

      <!-- DESCRIPTION -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          class="form-control"
          rows="4"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a description.</div>
      </div>

      <!-- IMAGE -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          id="image"
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please upload an image.</div>
      </div>

      <!-- PRICE + LOCATION -->
      <div class="row">

        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            type="number"
            min="0"
            name="listing[price]"
            class="form-control"
            placeholder="1200"
            required
          />
          <div class="invalid-feedback">Please enter a valid price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
            id="location"
            type="text"
            name="listing[location]"
            class="form-control"
            placeholder="Jaipur, Rajasthan"
            required
          />
          <div class="invalid-feedback">Please enter a location.</div>
        </div>

      </div>

      <!-- COUNTRY -->
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          id="country"
          type="text"
          name="listing[country]"
          class="form-control"
          placeholder="India"
          required
        />
        <div class="invalid-feedback">Please enter a country.</div>
      </div>

      <button class="btn add-btn">Add Listing</button>

    </form>

  </div>
</div>
