 #filters {
      display: flex;
      flex-wrap: wrap;
    }

    .filter {
      text-align: center;
      margin-right: 2rem;
      opacity: 0.6;
      
    }

    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .filter p {
      font-size: 0.8rem;
    }
    .tax-info{
      display: none;
    }
    .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.5rem;
      padding: 0.8rem;
      margin-left: 3rem;
    }
  

