
.container-fluid {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
 #filters {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      padding: 10px 5px;
      flex-wrap: wrap;
    }

    .filter {
      min-width: 70px;
      text-align: center;
      background-color: #f8f9fa;
      padding: 8px 12px;
      border-radius: 20px;
      font-size: 14px;
      margin-left:10px;
      opacity: 0.6;
      cursor: pointer;
      
    }
    #filters a{
      text-decoration: none;
      color: black;
    }

    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .filter p {
      font-size: 0.8rem;
    }
    .tax-info{
      display: none;
    }
    .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.5rem;
      padding: 0.8rem;
      
    }
  
.loader {
  text-align: center;
  padding: 25px;
  font-size: 18px;
  color: #555;
}

.hidden {
  display: none;
}

@media(max-width:600px) {
  .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.5rem;
      padding: 0.5rem;
  }
  
}

