.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}
.navbar .container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.navbar .container-fluid {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  width: auto;
  color: #222222 !important;
}
.search-btn{
    background-color: #ededed;
    color: #000000;
    border-radius: 0px 25px 25px 0px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #dcdcdc;
    color: #000000;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}
.search-inp{
  border-radius: 25px 0px 0px 25px;
  padding: 0.5rem 1rem;
  justify-content: center !important;
  width: 400px;
}
.navbar-search-wrapper {
  display: flex;
  justify-content: center;
}

@media(max-width:590px) {
  .search-inp{
    justify-content: center;
    width: 150px;
  }
  
}