body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
.f-info {
  min-height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  gap: 2px;
}
.listing-card{
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top{
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}
.listing-link{
  text-decoration: none;
  color: #222222;
}
.card-img-overlay{
   opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2;
  background-color: white;
}
.add-btn{
  background-color: #fe424d !important;
  border: none !important;
}
.edit-btn{
  background-color: #fe424d !important;
  border: none !important;
}
.show-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.main-content {
  flex: 1;
}


.btn-success{
  background-color: green !important;
}
.edit-image-preview {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
   .listing-img {
  height: 20rem;
  object-fit: cover;
}
@media(max-width:580px){
  .listing-row{
    width: 100% !important;
  }
}